:root {
  /* Primary colors */
  --color-white: #ffffff;
  --color-blue: rgba(80, 185, 255, 0.75);
  --color-darker-blue: rgba(80, 185, 255, 1);
  --color-red: rgba(255, 128, 80, 0.95);
  --color-yellow: #fffb8d;
  user-select: none;
}

body {
  display: flex;
  /* background-color: var(--color-yellow); */
}

#pageTitle {
  text-align: center;
}

#mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 560px;
}

div.player1-container,
div.player2-container {
  position: relative;
  flex-shrink: 0;
  padding: 5px 5px;
  text-align: center;
}

td {
  width: 52px;
  height: 52px;
  background: var(--color-blue);
  font-size: 2.5rem;
  text-align: center;
}

td:hover {
  background: var(--color-darker-blue);
}

td.hit {
  background: var(--color-red);
}

td.hit,
td.miss {
  pointer-events: none; /* Not clickable */
}

img.fire {
  display: block; /* Needed, to avoid resizing <td> */
  height: 90%;
  width: 80%;
  justify-self: center;
}

img.ship {
  position: absolute;
  pointer-events: none; /* Note: might need to remove this to enable drag-n-drop */
}

button.dialog {
  padding: 8px 16px;
}

dialog#startNewGameModal {
  text-align: center;
}
summary,
details {
  outline: none;
  user-select: none;
}
summary:hover {
  text-shadow: #6e6e6e 2px 0 16px;
}
.form-group,
summary {
  padding: 4px;
}
