:root {
  /* Primary colors */
  --color-white: #ffffff;
  --color-blue: rgba(80, 185, 255, 0.5);
  --color-darker-blue: rgba(80, 185, 255, 0.7);
  --color-red: rgba(255, 128, 80, 0.95);
  user-select: none;
}

body {
  display: flex;
}

#page-title {
  text-align: center;
}

#main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 560px;
}

div.player1-container,
div.player2-container {
  position: relative;
  flex-shrink: 0;
  padding: 5px 5px;
}

td {
  width: 52px;
  height: 52px;
  background: var(--color-blue);
  font-size: 2.5rem;
  text-align: center;
}

td:hover {
  background: var(--color-darker-blue);
}

td.hit {
  background: var(--color-red);
}

td.hit,
td.miss {
  pointer-events: none; /* Not clickable */
}

img.fire {
  display: block; /* Needed, to avoid resizing <td> */
  height: 90%;
  width: 80%;
  justify-self: center;
}

img.ship {
  position: absolute;
  pointer-events: none; /* Note: might need to remove this to enable drag-n-drop */
}

button.dialog {
  padding: 8px 16px;
}

dialog#game-over-modal {
  text-align: center;
}
